In [3]:
import pandas as pd
import numpy as np

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("dwdkills/alcohol-consumption-in-russia")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.13)
Downloading from https://www.kaggle.com/api/v1/datasets/download/dwdkills/alcohol-consumption-in-russia?dataset_version_number=1...

100%|██████████████████████████████████████████████████████████████████████████████| 17.8k/17.8k [00:00<00:00, 143kB/s]

Extracting model files...
Path to dataset files: C:\Users\user\.cache\kagglehub\datasets\dwdkills\alcohol-consumption-in-russia\versions\1

In [4]:
df = pd.read_csv('C:\\Users\\user\\.cache\\kagglehub\\datasets\\dwdkills\\alcohol-consumption-in-russia\\versions\\1\\russia_alcohol.csv')

In [5]:
df

,year,region,wine,beer,vodka,champagne,brandy
0,1998,Republic of Adygea,1.9,8.8,3.4,0.3,0.1
1,1998,Altai Krai,3.3,19.2,11.3,1.1,0.1
2,1998,Amur Oblast,2.1,21.2,17.3,0.7,0.4
3,1998,Arkhangelsk Oblast,4.3,10.6,11.7,0.4,0.3
4,1998,Astrakhan Oblast,2.9,18.0,9.5,0.8,0.2
...,...,...,...,...,...,...,...
1610,2016,Chuvash Republic,5.0,42.3,7.7,0.7,0.4
1611,2016,Chukotka Autonomous Okrug,3.9,34.0,11.6,1.8,1.1
1612,2016,Sakha (Yakutia) Republic,4.3,56.1,8.2,1.8,0.5
1613,2016,Yamalo-Nenets Autonomous Okrug,4.5,75.8,8.2,1.7,1.3
1614,2016,Yaroslavl Oblast,10.2,38.0,8.9,1.4,1.0

In [17]:
pd.concat([df.groupby('year')['beer'].sum()/85,df.groupby('year')['vodka'].sum()/85], axis = 1)

           beer      vodka
year
1998  19.458824  12.072941
1999  24.200000  12.835294
2000  28.712941  12.934118
2001  35.061176  13.736471
2002  40.880000  14.265882
2003  45.702353  14.005882
2004  50.636471  13.828235
2005  52.574118  13.191765
2006  59.364706  12.624706
2007  59.822353  11.903529
2008  62.365882  11.797647
2009  60.817647  11.120000
2010  60.410588  10.841765
2011  61.600588  10.808235
2012  62.856471  10.620000
2013  60.669412   9.080000
2014  55.455294   7.427059
2015  50.040000   6.510588
2016  48.336471   6.469412

In [19]:
df.groupby('year')['region'].count() #представленно 85 регионов

year
1998    85
1999    85
2000    85
2001    85
2002    85
2003    85
2004    85
2005    85
2006    85
2007    85
2008    85
2009    85
2010    85
2011    85
2012    85
2013    85
2014    85
2015    85
2016    85
Name: region, dtype: int64

In [21]:
df.groupby('region')['vodka'].sum().sort_values()

region
Chechen Republic                      0.00
Republic of Crimea                   12.80
Sevastopol                           16.20
Republic of Ingushetia               19.45
Republic of North Ossetia-Alania     93.05
                                     ...
Sakhalin Oblast                     345.41
Magadan Oblast                      355.93
Moscow                              361.42
Kamchatka Krai                      374.53
Komi Republic                       392.43
Name: vodka, Length: 85, dtype: float64