In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("alexeiluchian/mal-anime-dataset")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.13)
Downloading from https://www.kaggle.com/api/v1/datasets/download/alexeiluchian/mal-anime-dataset?dataset_version_number=2...

100%|████████████████████████████████████████████████████████████████████████████████| 433k/433k [00:00<00:00, 610kB/s]

Extracting model files...
Path to dataset files: C:\Users\user\.cache\kagglehub\datasets\alexeiluchian\mal-anime-dataset\versions\2

In [104]:
import pandas as pd
import numpy as np

In [105]:
import ast

In [110]:
df = pd.read_csv("C:\\Users\\user\\.cache\\kagglehub\\datasets\\alexeiluchian\\mal-anime-dataset\\versions\\2\\anime_dataset.csv")

In [111]:
df.genres = df.genres.apply(lambda g: ast.literal_eval(g))

In [112]:
df.genres

0       [Action, Award Winning, Drama, Suspense, Gore,...
1        [Supernatural, Suspense, Psychological, Shounen]
2       [Action, Adventure, Drama, Fantasy, Military, ...
3       [Action, Comedy, Adult Cast, Parody, Super Pow...
4       [Action, Award Winning, Supernatural, Historic...
                              ...
1045    [Action, Fantasy, Sci-Fi, Super Power, Urban F...
1046               [Sports, School, Team Sports, Shounen]
1047    [Comedy, Romance, Love Status Quo, Workplace, ...
1048                [Drama, Romance, Love Polygon, Music]
1049            [Fantasy, Isekai, Medical, Reincarnation]
Name: genres, Length: 1050, dtype: object

In [113]:
df.genres = df.genres.apply(lambda g: (', '.join(g)))

In [114]:
df.genres

0       Action, Award Winning, Drama, Suspense, Gore, ...
1          Supernatural, Suspense, Psychological, Shounen
2       Action, Adventure, Drama, Fantasy, Military, S...
3       Action, Comedy, Adult Cast, Parody, Super Powe...
4       Action, Award Winning, Supernatural, Historica...
                              ...
1045    Action, Fantasy, Sci-Fi, Super Power, Urban Fa...
1046                 Sports, School, Team Sports, Shounen
1047    Comedy, Romance, Love Status Quo, Workplace, S...
1048                  Drama, Romance, Love Polygon, Music
1049              Fantasy, Isekai, Medical, Reincarnation
Name: genres, Length: 1050, dtype: object

In [109]:
df

,title,score,genres,episodes,synopsis,popularity,members,studios,year
0,Attack on Titan,8.57,"Action, Award Winning, Drama, Suspense, Gore, ...",25.0,"Centuries ago, mankind was slaughtered to near...",1,4245518,['Wit Studio'],2013.0
1,Death Note,8.62,"Supernatural, Suspense, Psychological, Shounen",37.0,"Brutal murders, petty thefts, and senseless vi...",2,4186098,['Madhouse'],2006.0
2,Fullmetal Alchemist: Brotherhood,9.10,"Action, Adventure, Drama, Fantasy, Military, S...",64.0,After a horrific alchemy experiment goes wrong...,3,3588803,['Bones'],2009.0
3,One-Punch Man,8.48,"Action, Comedy, Adult Cast, Parody, Super Powe...",12.0,The seemingly unimpressive Saitama has a rathe...,4,3443899,['Madhouse'],2015.0
4,Demon Slayer: Kimetsu no Yaiba,8.42,"Action, Award Winning, Supernatural, Historica...",26.0,"Ever since the death of his father, the burden...",5,3340293,['ufotable'],2019.0
...,...,...,...,...,...,...,...,...,...
1045,A Certain Scientific Railgun T,8.14,"Action, Fantasy, Sci-Fi, Super Power, Urban Fa...",25.0,"The Daihasei Festival has begun, and that of c...",1046,261393,['J.C.Staff'],2020.0
1046,Ace of Diamond,8.11,"Sports, School, Team Sports, Shounen",75.0,With a stray pitch that completely missed the ...,1047,261362,"['Production I.G', 'Madhouse']",2013.0
1047,Wagnaria!!3,7.95,"Comedy, Romance, Love Status Quo, Workplace, S...",13.0,As the stories of those connected to Wagnaria ...,1048,260828,['A-1 Pictures'],2015.0
1048,White Album 2,7.59,"Drama, Romance, Love Polygon, Music",13.0,Haruki Kitahara's light music club is on the v...,1049,260762,['Satelight'],2013.0
1049,Parallel World Pharmacy,7.26,"Fantasy, Isekai, Medical, Reincarnation",12.0,World-class medical researcher Kanji Yakutani ...,1050,260474,['Diomedéa'],2022.0

In [97]:
table_bin = df.genres.str.get_dummies(sep = ',')
table_bin

,Adult Cast,Adventure,Anthropomorphic,Avant Garde,Award Winning,CGDCT,Childcare,Combat Sports,Comedy,Crossdressing,...,Gourmet,Horror,Mecha,Mystery,Romance,Sci-Fi,Slice of Life,Sports,Supernatural,Suspense
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1046,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1047,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1048,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1049,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [103]:
df['studios'].value_counts().sort_values(

studios
['A-1 Pictures']                                        62
['J.C.Staff']                                           60
['Madhouse']                                            50
['Bones']                                               48
['Production I.G']                                      35
                                                        ..
['Gainax', 'Production I.G', 'Tatsunoko Production']     1
['domerica']                                             1
['OZ']                                                   1
['Pierrot Films']                                        1
['Production I.G', 'Madhouse']                           1
Name: count, Length: 187, dtype: int64

In [98]:
table_bin.rename(index = df.title, inplace = True)
#table_bin.loc['sum'] = table_bin.sum(axis = 0)

In [99]:
table_bin['Action'].sum()

np.int64(458)

In [100]:
table_bin = table_bin.sum().sort_values(ascending = False)
table_bin

Action                458
 School               334
 Fantasy              318
 Shounen              317
 Romance              299
                     ...
 Educational            2
 Magical Sex Shift      2
 Avant Garde            1
 Pets                   1
Mecha                   1
Length: 92, dtype: int64

Топ 5 жанров наиболее популярных аниме: Action(43%), School(31%), Fantasy(30%), Shounen(сенэн)(30%), Romance(28%)

In [92]:
pd.DataFrame(round(table_bin/1050*100, 2), columns = ['%'])

                        %
Action              43.62
 School             31.81
 Fantasy            30.29
 Shounen            30.19
 Romance            28.48
...                   ...
 Educational         0.19
 Magical Sex Shift   0.19
 Avant Garde         0.10
 Pets                0.10
Mecha                0.10

[92 rows x 1 columns]

In [25]:
test = df.genres.str.get_dummies(sep = ',')
test

,Adult Cast,Adventure,Anthropomorphic,Avant Garde,Award Winning,CGDCT,Childcare,Combat Sports,Comedy,Crossdressing,...,Gourmet,Horror,Mecha,Mystery,Romance,Sci-Fi,Slice of Life,Sports,Supernatural,Suspense
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1046,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1047,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1048,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1049,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
test.sum().sort_values(ascending = False)

Action                458
 School               334
 Fantasy              318
 Shounen              317
 Romance              299
                     ...
 Educational            2
 Magical Sex Shift      2
 Avant Garde            1
 Pets                   1
Mecha                   1
Length: 92, dtype: int64

In [12]:
mask = df['genres'].str.contains('Action')

In [13]:
df[mask]

,title,score,genres,episodes,synopsis,popularity,members,studios,year
0,Attack on Titan,8.57,"Action, Award Winning, Drama, Suspense, Gore, ...",25.0,"Centuries ago, mankind was slaughtered to near...",1,4245518,['Wit Studio'],2013.0
2,Fullmetal Alchemist: Brotherhood,9.10,"Action, Adventure, Drama, Fantasy, Military, S...",64.0,After a horrific alchemy experiment goes wrong...,3,3588803,['Bones'],2009.0
3,One-Punch Man,8.48,"Action, Comedy, Adult Cast, Parody, Super Powe...",12.0,The seemingly unimpressive Saitama has a rathe...,4,3443899,['Madhouse'],2015.0
4,Demon Slayer: Kimetsu no Yaiba,8.42,"Action, Award Winning, Supernatural, Historica...",26.0,"Ever since the death of his father, the burden...",5,3340293,['ufotable'],2019.0
5,Sword Art Online,7.22,"Action, Adventure, Fantasy, Romance, Video Game",25.0,Ever since the release of the innovative Nerve...,6,3240244,['A-1 Pictures'],2012.0
...,...,...,...,...,...,...,...,...,...
1035,Yu☆Gi☆Oh!,7.25,"Action, Comedy, Fantasy, Strategy Game, Shounen",27.0,Bullies often target someone frail and weak—so...,1036,263308,['Toei Animation'],1998.0
1037,Log Horizon: Destruction of the Round Table,7.07,"Action, Adventure, Fantasy, Adult Cast, Video ...",12.0,Third season of Log Horizon.\n\r\nIt's been a ...,1038,263123,['Studio Deen'],2021.0
1039,Bleach: Thousand-Year Blood War - The Conflict,8.67,"Action, Adventure, Supernatural, Shounen",14.0,After an awe-inspiring battle with Ichibei Hyo...,1040,262713,['Pierrot Films'],2024.0
1041,Bleach the Movie: The DiamondDust Rebellion,7.42,"Action, Adventure, Supernatural, Shounen",1.0,Assigned to protect a royal procession transpo...,1042,262002,['Studio Pierrot'],NaN
1045,A Certain Scientific Railgun T,8.14,"Action, Fantasy, Sci-Fi, Super Power, Urban Fa...",25.0,"The Daihasei Festival has begun, and that of c...",1046,261393,['J.C.Staff'],2020.0

In [14]:
df.groupby(

_IncompleteInputError: incomplete input (368738010.py, line 1)