In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("shubhankitsirvaiya06/diamond-price-prediction")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.13)
Downloading from https://www.kaggle.com/api/v1/datasets/download/shubhankitsirvaiya06/diamond-price-prediction?dataset_version_number=1...

100%|████████████████████████████████████████████████████████████████████████████████| 606k/606k [00:01<00:00, 474kB/s]

Extracting model files...
Path to dataset files: C:\Users\user\.cache\kagglehub\datasets\shubhankitsirvaiya06\diamond-price-prediction\versions\1

In [23]:
!pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)

In [44]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [3]:
df = pd.read_csv("C:\\Users\\user\\.cache\\kagglehub\\datasets\\shubhankitsirvaiya06\\diamond-price-prediction\\versions\\1\\diamonds.csv")

In [4]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [14]:
df.isna().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [32]:
col = [x for x in df.columns if df[x].dtype == 'object']
encoder = preprocessing.LabelEncoder()
for c in col:
    df[c] = encoder.fit_transform(df[c])

In [33]:
df

       carat  cut  color  clarity  depth  table  price     x     y     z
0       0.23    2      1        3   61.5   55.0    326  3.95  3.98  2.43
1       0.21    3      1        2   59.8   61.0    326  3.89  3.84  2.31
2       0.23    1      1        4   56.9   65.0    327  4.05  4.07  2.31
3       0.29    3      5        5   62.4   58.0    334  4.20  4.23  2.63
4       0.31    1      6        3   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
53935   0.72    2      0        2   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72    1      0        2   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70    4      0        2   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    3      4        3   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    2      0        3   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [45]:
X = df.drop('price', axis = 1)
y = df['price']
train_test_split(X, y, test_size = 0.2, random_state = 1)

[       carat  cut  color  clarity  depth  table     x     y     z
 42836   0.41    2      2        6   62.3   53.0  4.80  4.77  2.98
 9727    1.12    3      2        3   60.5   59.0  6.79  6.73  4.09
 35974   0.42    2      2        4   60.6   56.0  4.83  4.87  2.94
 22501   1.04    3      1        6   62.5   59.0  6.46  6.41  4.02
 3571    0.70    1      1        4   58.4   60.0  5.84  5.87  3.42
 ...      ...  ...    ...      ...    ...    ...   ...   ...   ...
 50057   0.70    4      5        5   62.8   59.0  5.56  5.61  3.51
 32511   0.40    1      1        3   63.9   57.0  4.71  4.65  2.99
 5192    0.91    4      3        5   62.7   63.0  6.05  6.00  3.78
 12172   1.18    2      6        4   61.7   56.0  6.79  6.82  4.20
 33003   0.32    2      1        6   60.9   56.0  4.41  4.43  2.69

 [43152 rows x 9 columns],
        carat  cut  color  clarity  depth  table     x     y     z
 2714    0.33    2      4        2   61.7   55.0  4.43  4.46  2.74
 14653   1.20    2      5        5   62.1   57.0  6.78  6.71  4.19
 52760   0.62    2      0        4   61.0   57.0  5.51  5.54  3.37
 48658   0.34    1      4        5   63.1   56.0  4.41  4.46  2.80
 14812   1.20    2      1        3   62.5   55.0  6.77  6.84  4.25
 ...      ...  ...    ...      ...    ...    ...   ...   ...   ...
 49568   0.67    1      3        5   57.5   60.1  5.78  5.83  3.34
 32163   0.28    2      2        1   62.6   53.0  4.18  4.19  2.62
 52459   0.70    0      2        5   66.4   53.0  5.51  5.49  3.65
 15265   1.20    3      4        2   61.0   58.0  6.92  6.84  4.20
 43028   0.63    2      5        2   62.0   57.0  5.47  5.49  3.40

 [10788 rows x 9 columns],
 42836     1356
 9727      4654
 35974      921
 22501    10539
 3571      3419
          ...
 50057     2202
 32511      798
 5192      3776
 12172     5182
 33003      813
 Name: price, Length: 43152, dtype: int64,
 2714      564
 14653    5914
 52760    2562
 48658     537
 14812    5964
          ...
 49568    2131
 32163     787
 52459    2516
 15265    6129
 43028    1372
 Name: price, Length: 10788, dtype: int64]

In [40]:
rf = RandomForestRegressor(random_state = 0)
scores = cross_val_score(rf, X_train, y_train, cv = 5, scoring = 'neg_mean_absolute_error')

NameError: name 'X_train' is not defined