In [2]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("C:\\Users\\user\\Documents\\Data-Analytics\\excel\\Mortality in Russia by cause of death  in 2018 (absolute numbers).xlsx")

In [3]:
df

,Brief nomenclature of causes of death,Cause of death,In Urban Population,In Rural Population,All Population
0,1,Cholera,0,0,0
1,2,Typhoid fever,0,0,0
2,3,Paratyphoid,2,0,2
3,4,Other salmonella infections,8,5,13
4,5,Shigellosis,6,0,6
...,...,...,...,...,...
361,NaN,"All types of transport accidents (256-268,296,...",12206,6886,19092
362,NaN,"Cause of death unknown (244, 297, 303)",30428,9142,39570
363,NaN,"accident within 7 days 256-258,307",4782,2802,7584
364,313,"accident within 8-30 days 256-258,307",324,152,476
365,995,number of deaths without external causes of death,1218741,465557,1684298

In [9]:
df.sort_values( by = 'In Urban Population', ascending = False)

,Brief nomenclature of causes of death,Cause of death,In Urban Population,In Rural Population,All Population
358,NaN,"TOTAL DEAD (1-245,256-307,315)",1317703,511207,1828910
365,995,number of deaths without external causes of death,1218741,465557,1684298
179,NaN,121-155 (Circulatory system diseases),630394,225733,856127
155,NaN,127-133 (Coronary heart disease),336535,116771,453306
97,NaN,54-87 (Neoplasms),227516,70480,297996
...,...,...,...,...,...
49,47,Trypanosomiasis,0,0,0
50,48,Schistosomiasis,0,0,0
52,fifty,Filariasis and dracunculiasis,0,0,0
1,2,Typhoid fever,0,0,0
0,1,Cholera,0,0,0

In [13]:
df[df['Cause of death'].str.contains('hepatitis')]

,Brief nomenclature of causes of death,Cause of death,In Urban Population,In Rural Population,All Population
38,37,Acute hepatitis A,3,0,3
39,38,Acute hepatitis b,13,5,18
40,39,Acute viral hepatitis C,12,5,17
41,40,Chronic viral hepatitis B,231,72,303
42,41,Chronic viral hepatitis C,1385,333,1718
43,42,Other viral hepatitis,134,36,170
44,NaN,37-42 (Viral hepatitis),1778,451,2229
210,182,"Alcoholic liver disease (alcoholic: cirrhosis,...",6960,2665,9625

In [14]:
df = pd.read_html("C:\\Users\\user\\Downloads\\–ö—É–ø–∏—Ç—å –ö–≤–∞—Ä—Ç–∏—Ä—É –≤¬†–ú–æ—Å–∫–≤–µ - 67 429 –æ–±—ä—è–≤–ª–µ–Ω–∏–π –æ –ü—Ä–æ–¥–∞–∂–µ –ö–≤–∞—Ä—Ç–∏—Ä –ù–µ–¥–æ—Ä–æ–≥–æ_ –ü–ª–∞–Ω–∏—Ä–æ–≤–∫–∏, –¶–µ–Ω—ã –∏ –§–æ—Ç–æ ‚Äì –î–æ–º–∫–ª–∏–∫.html")

In [20]:
df[0]

                      0                            1
0   üü¢ –¶–µ–Ω–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏  –æ—Ç 1,9 –º–ª–Ω –¥–æ 80,9 –º–ª–Ω —Ä—É–±.
1             üü¢ –ü–ª–æ—â–∞–¥—å             –æ—Ç 32 –¥–æ 115 –º2.
2          üü¢ –¶–µ–Ω–∞ –∑–∞ –º2    –æ—Ç 35 313 –¥–æ 811 630 —Ä—É–±.
3  üü¢ –°—Ä–µ–¥–Ω—è—è —Ü–µ–Ω–∞ –∑–∞ –º2                 430 040 —Ä—É–±.