In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("scibearia/university-admission-in-russia-2014-2023")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.13)
Path to dataset files: C:\Users\user\.cache\kagglehub\datasets\scibearia\university-admission-in-russia-2014-2023\versions\1

In [2]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("C:\\Users\\user\\.cache\\kagglehub\\datasets\\scibearia\\university-admission-in-russia-2014-2023\\versions\\1\\University and vocational schools admission in Russia 2014-2023.csv", sep =';')

In [5]:
df

,Index,Education level,Degree,Tuition fees,ID,Branches of Science,Group of Professions,Year,Number of Applications,Number of Students
0,1,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Mathematics and Mechanics,2014,47923.0,7144.0
1,2,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Computer Science,2014,28787.0,3238.0
2,3,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Physics and Astronomy,2014,23906.0,4391.0
3,4,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Chemistry,2014,25930.0,2367.0
4,5,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Earth Science,2014,43434.0,6745.0
...,...,...,...,...,...,...,...,...,...,...
5563,5564,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,8,Arts and Culture,Design and Restoration,2014,NaN,3471.0
5564,5565,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,8,Arts and Culture,Film and Screen Arts,2014,NaN,162.0
5565,5566,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,9,Military Science,Military Management,2014,NaN,0.0
5566,5567,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,9,Military Science,Ensuring National Security,2014,NaN,NaN
5567,5568,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,10,Oriental and African Studies,Oriental and African Studies,2014,NaN,0.0